@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.gradtext {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.ff_jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.op_80 {
    opacity: 80%;
}

.op_70 {
    opacity: 70%;
}




.lh_24 {
    line-height: 24px;
}

.lh_70 {
    line-height: 50.4px;
}

.lh_52 {
    line-height: 45.8px;
}

.lh_33 {
    line-height: 33.6px;
}



.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}


.w_948 {
    max-width: 948px;
}

.w_536 {
    max-width: 536px;
}

.w_562 {
    max-width: 562px;
}

.w_461 {
    max-width: 461px;
}

.w_386 {
    max-width: 386px;
}

.w_534 {
    max-width: 534px;
}

.w_456 {
    max-width: 458px;
}

.w_788 {
    max-width: 788px;
}

.w_666 {
    max-width: 666px;
}



.Nav-link {
    position: relative;
    display: inline-block;
   padding-bottom: 5px;
}

.Nav-link::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    transition: all 300ms ease-in-out;
}

.Nav-link:hover::after {
    width: 100%;
}

.Nav-link:hover {
    opacity: 100%;
}
.gap_32{
    gap: 32px;
}


.Nav_btn {
    padding: 16px 42px 16px 42px;
    border-radius: 61px;
    border: 1px solid #9A5FED;
    transition: all 500ms linear;
}

.Nav_btn:hover {
    color: #9D5CEC !important;
    background: white;
}

.py_18 {
    padding: 18px 0;
}

.pb_42 {
    padding-bottom: 20px;
}

.pl_18 {
    padding-left: 18px;
}

.my_12 {
    margin-top: 12px;
    margin-bottom: 12px;
}


.py_47-pl_80 {
    padding: 47.74px 0 47.74px 0px;
}

.pb_52 {
    padding-bottom: 52px;
}

.pt_20 {
    padding-top: 20px;
}

.pb_8 {
    padding-bottom: 8px;
}


.pb_52 {
    padding-bottom: 52px;
}

.pt_52 {
    padding-top: 52px;
}

.pb_150 {
    padding-bottom: 50px;
}

.pb_152 {
    padding-bottom: 50px;
}

.pb_148 {
    padding-bottom: 58px;
}

.pt_152 {
    padding-top: 52px;
}

.pt_109 {
    padding-top: 50px;
}

.pb_116 {
    padding-bottom: 56.74px;
}

.pb_122 {
    padding-bottom: 52px;
}

.pt_119 {
    padding-top: 59.89px;
}

.pt_124 {
    padding-top: 54px;
}

.pt_75 {
    padding-top: 35px;
}

.pb_75 {
    padding-bottom: 35px;
}



.pb_24 {
    padding-bottom: 24.82px;
}

.pt_91 {
    padding-top: 51px;
}

.pr_52 {
    padding-right: 52px;
}

.min_h_571 {
    min-height: 571px;
}

.pb_12 {
    padding-bottom: 12px;
}

.pb_26 {
    padding-bottom: 26px;
}

.pb_45 {
    padding-bottom: 45.8px;
}

.pt_44 {
    padding-top: 44px;
}

.pt_67 {
    padding-top: 44.2px;
}

.my_6 {
    margin: 6px 0;
}
.w_257{
max-width: 257px;
}

.img_box {
    background: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    padding: 14.5px 32.98px;
    top: 10%;
    max-width: 997px;
}

.bg_blur {
    border-radius: 17.34px;
    background: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    backdrop-filter: blur(31.4px);
    max-width: 997px;
    right: 50%;
    transform: translateX(50%);
    bottom: 11%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);  
    padding: 12px 22.98px;
}
.left_line {
    left: 0;
}
.right_line{
right: 0;
}

.my_card {
    max-width: 462px;
    padding: 12px 22px 12px;
        background:linear-gradient(white, white)  padding-box,
         linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%) border-box;
        border-radius: 16px;
        border: 0.5px solid transparent;
    border-radius: 16px;
    cursor: pointer;
}

.my_card:hover {
    box-shadow: 0px 9px 50px 0px #0000001F;
}

.service_card {
    padding: 20px 20px 44px 20px;
    border: 0.5px solid #B6B6B6;
    border-radius: 16px;
    display: flex;
    background: #EFEFEF;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    transition: all 500ms linear;
}

.service_card:hover {
    border: 0;
    transition: all 500ms linear;
    box-shadow: 0px 9px 50px 0px #0000001F;
}

.service_card:hover .svg_box {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    transition: all 500ms linear;
}

.service_card:hover .svg_box svg path {
    fill: white;
    transition: all 500ms linear;
}

.svg_box {
    background: linear-gradient(130.88deg, rgba(168, 84, 233, 0.16) -9.14%, rgba(79, 145, 252, 0.16) 283.16%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: all 500ms linear;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.card_2 {
    padding: 12px;
    border: 0.5px solid #C2C2C2;
    border-radius: 16px;
    transition: all 500ms linear;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    transition: all 300ms linear;
}

.card_2:hover {
    box-shadow: 0px 9px 50px 0px #0000001F;

}

.last_card {
    background-image: url(../images/CTA.webp);
    background-size: cover;
    border-radius: 16px;
    background-position: center;
    min-height: 380px;
    flex-direction: column;
    display: flex;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.footer_svg {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF29;
    cursor: pointer;
    border-radius: 16px;
    transition: all 500ms linear;
}
.footer_svg:hover{
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    transform: translateY(-6px);
}
.footer_svg:hover svg path{
    fill: white;
}
.footer_line {
    height: 1px;
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
}

.gap_10 {
    gap: 10px;
}

.gap_52 {
    gap: 22px;
}

.gap_12 {
    gap: 12px;
}

.gap_114 {
    gap: 14px;
}

.hE2 {
    right: 0;
}

.missionE1 {
    bottom: -40%;
}

.missionE2 {
    right: 0;
    top: -20%;
}

.visionE1 {
    right: 0;
    top: -50%;
}

.serviseE1 {
    bottom: 0;
}

.serviseE2 {
    right: 0;
}

.chooseE1 {
    bottom: -22%;
}

.chooseE2 {
    right: 0;
    top: -10%;
}

.companyE1 {
    bottom: 0;
}

.companyE2 {
    right: 0;
}

.heroE1 {
    top: 5%;
    left: -3%;
}

.heroE2 {
    bottom: 2%;
    right: -3%;
}

.z_20 {
    z-index: 20;
}

.bar {
    height: 5px;
    width: 35px;
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    border-radius: 6px;
}

.menulist.show {
    right: 0;
}

.menuicon.show .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    transition: all 400ms ease-in;

}

.menuicon.show .bar:nth-child(2) {
    display: none;
}

.menuicon.show .bar:nth-child(3) {
    transition: all 400ms ease-in;
    transform: translateY(2px) rotate(-45deg);
}

.last_btn {
    padding: 16px 42px 16px 42px;
    border-radius: 61px;
    border: 1px solid #FDFCFC;
    background: #FDFCFC;
}
.last_btn:hover{
    border: 1px solid gray;
    background: #EFEFEF;
}
.footer_link{
    position: relative;
    display: inline-block;
   padding-bottom: 5px;
}
.footer_link::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    transition: all 300ms ease-in-out;
}
.footer_link:hover::after{
width: 100%;
}
.box_fontB {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #FDFCFC;
}

.fontS {
    font-size: 12px;
    line-height: 20.1px;
    font-weight: 400;
    color: #FDFCFC;
    max-width: 133.6px;
}
@media (max-width:768px) {
    .menulist {
        flex-direction: column;
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 50;
        background: white;
        transition: all 600ms linear;
    }

    .menuicon {
        z-index: 50;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

@media (min-width:576px) {
    .py_47-pl_80 {
        padding: 47.74px 0 47.74px 80px;
    }
  
    .last_card {
        padding-left: 64px;
        padding-right: 64px;
        padding: 44px 64px;
    }

    .py_47-pl_80 {
        padding: 47.74px 0 47.74px 80px;
    }

    .lh_70 {
        line-height: 70.4px;
    }

    .pb_42 {
        padding-bottom: 42px;
    }

    .lh_52 {
        line-height: 52.8px;
    }
}

@media (min-width:768px) {
    .py_47-pl_80 {
        padding: 47.74px 0 47.74px 80px;
    }
    .box_fontB {
        font-size: 30px;
        line-height: 36px;
    }
    
    .fontS {
        font-size: 16px;
        line-height: 18.1px;
        font-weight: 400;
        max-width: 133.6px;
    }
    .last_card {
        padding-left: 104px;
        padding-right: 104px;
    }

    .bg_blur{
        padding: 22px 22.98px;
    }

    .w_997{
        max-width: 637px;
    }
}

@media (min-width:992px) {
    .py_47-pl_80 {
        padding: 47.74px 0 47.74px 30px;
    }
    .box_fontB {
        font-size: 55px;
        line-height: 36px;
    }
    
    .fontS {
        font-size: 18px;
        line-height: 20.1px;
        font-weight: 400;
        max-width: 133.6px;
    }
    .w_997{
        max-width: 890px;
    }
    .bg_blur{
        padding: 32px 22.98px;
    }
    .gap_52 {
        gap: 30px;
    }

    .last_card {
        padding-left: 14px;
        padding-right: 14px;
    }
    .pb_150 {
        padding-bottom: 75px;
    }
    .pt_119 {
        padding-top: 89.89px;
    }

    .pt_124 {
        padding-top: 84px;
    }

  

    .pb_75 {
        padding-bottom: 75px;
    }

    .pt_67 {
        padding-top: 67.2px;
    }

    .pt_91 {
        padding-top: 91px;
    }
    .pb_152 {
        padding-bottom: 82px;
    }

    .pb_148 {
        padding-bottom: 78px;
    }

    .pt_152 {
        padding-top: 82px;
    }

    .pt_109 {
        padding-top: 109px;
    }

    .pb_116 {
        padding-bottom: 116.74px;
    }

    .pb_122 {
        padding-bottom: 82px;
    }
    .pb_150 {
        padding-bottom: 150px;
    }

    .pb_152 {
        padding-bottom: 152px;
    }

    .pb_148 {
        padding-bottom: 148px;
    }

    .pt_152 {
        padding-top: 152px;
    }

    .pb_122 {
        padding-bottom: 122px;
    }

    .pt_119 {
        padding-top: 119.89px;
    }

    .pt_124 {
        padding-top: 124px;
    }
    .pt_75 {
        padding-top: 75px;
    }

}

@media (min-width:1200px) {
    .py_47-pl_80 {
        padding: 47.74px 0 47.74px 80px;
    }
    .box_fontB {
        font-size: 60px;
        line-height: 66px;
    }
    
    .fontS {
        font-size: 18px;
        line-height: 26.1px;
        font-weight: 400;
        max-width: 133.6px;
    }
    .w_997{
        max-width: 997px;
    }
    .bg_blur{
        padding: 22px 32.98px;
    }
    .gap_114 {
        gap: 114px;
    }
    .bg_blur{
        padding: 22px 32.98px;
    }
}

@media (min-width:1400px) {
    .py_47-pl_80 {
        padding: 47.74px 0 47.74px 80px;
    }
}